@font-face {
	src: url('fonts/Georgia.tff');
	font-family: 'Georgia';
	src: url('fonts/Georgiai.tff');
	font-family: 'Georgiai';
	src: url('fonts/QlassikBold_TB.ttf');
	font-family: 'QlassikBold_TB';
}
body {
	background-repeat-y: no-repeat;
}
.row {
	display: flex;
}
.col-md-6 {
	float:left;
	width: 50%;
	padding-right: 3%;
}
.container {
	background: #fefae8 ;
	margin: 0 5%;
}
.common {
	padding: 0 5%;
}
.header-ul {
	background: #8cb13c;
	display: inline-block;
}
.header-ul ul li {
	display: inline;
	padding: 5px 5px;
	border-right: #908375 solid 1px;
}
.header-ul ul li a {
	color: #fff;
	text-decoration: none;
	width: 20%;
}
.idk {
	color: #908375;
}
.contract {
	border-right: none;
}
.quote {
	text-decoration: none;
    border-radius: 5px;
    background: #da962b;
    color: #fff;
    padding: 5px;
    float: right;
}
.main-top {
	border: #e3d8c5 solid 5px;
	padding: 5px 10px;
	background-image: url(image/bt2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 213px;
}
.main-top-right {
	text-align: center;
	padding: 0 20%;
}
.top-content {
	font-size: 26px;
	color: #fefae8;
	font-family: 'Georgia';
}
.bottom-content {
	color: #f0c786;
	font-size: 18px;
	font-family: 'Georgia';
}
.main-middle {
	padding: 2% 0;
}
.main-middle-content {
	border: #543e31 solid 1px;
	border-left: none;
	border-right: none;
	padding-top: 5px;
	padding-bottom: 13px;
}
.img {
	padding: 10px;
}
.img1, .img2, .img3 {
	position: absolute;
}
.img1 {

}

.img2 {
	margin-left: 50px;
}
.img3 {
	margin-left: 100px;
}
.content-bottom {
	color: #83a737;
}
.post-des {
	color: #cf8b1f;
	margin: -10px 0;
}